
<textarea matInput rows="3" style="width: 90%;">

</textarea>
    <table mat-table  class="mat-elevation-z8">
      <tr mat-header-row>
        <td>username</td>
        <td>bill</td>
      </tr>
      <tr mat-row >
        <td>7</td><td>8</td><td>9</td><td> <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" ng-click="edit(client)">div</button> </td>
      </tr>
      <tr mat-row >
          <td>4</td><td>5</td><td>6</td><td> <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" ng-click="edit(client)">mul</button> </td>
        </tr>
        <tr mat-row >
            <td>1</td><td>2</td><td>3</td><td> <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" ng-click="edit(client)">sub</button> </td>
          </tr>
          <tr mat-row >
              <td>0</td><td> . </td><td> = </td><td> <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" ng-click="edit(client)">add</button> </td>
            </tr>
    </table>