
<textarea matInput rows="5" style="width: 99%;">

</textarea>
<form style="display: grid;">
        <mat-form-field class="example-full-width">
            <span matPrefix>SHOP &nbsp;</span>
            <input type="text" matInput placeholder="Customer">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
      <button mat-raised-button color="primary">
          SAVE TRANSACTION
      </button>
</form>
<mat-divider></mat-divider>
    <table mat-table  class="mat-elevation-z8" style="font-size: 200%;">
      
      <tr mat-row >
        <td>7</td><td>8</td><td>9</td><td> <button mat-raised-button color="primary">DIV</button> </td>
      </tr>
      <tr mat-row >
          <td>4</td><td>5</td><td>6</td><td> <button mat-raised-button color="primary">MUL</button> </td>
        </tr>
        <tr mat-row >
            <td>1</td><td>2</td><td>3</td><td> <button mat-raised-button color="primary">SUB</button> </td>
          </tr>
          <tr mat-row >
              <td>0</td><td> . </td><td> = </td><td> <button mat-raised-button color="primary">ADD</button> </td>
            </tr>
    </table>