#signin-container {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  height: 82vH;
  height: calc(100vH - 136px);
}
#signin-wrapper{
  padding: 2em 3em;
  width: 500px;
  border-radius: 4px;
  border:1px solid #eee;
  margin: 0 auto;
}
#signin-form{
  margin-top: 1em;
}
img#sc-chalk-logo-img{
  height: 70px;
}
