

<div class="mat-elevation-z8">
    <table mat-table >
      <tr mat-header-row>
        <td>username</td>
        <td>bill</td>
      </tr>
      <tr mat-row >
        <td>7</td><td>8</td><td>9</td><td> divide </td>
      </tr>
      <tr mat-row >
          <td>4</td><td>5</td><td>6</td><td> mul </td>
        </tr>
        <tr mat-row >
            <td>1</td><td>2</td><td>3</td><td> sub </td>
          </tr>
          <tr mat-row >
              <td>0</td><td> . </td><td> = </td><td> add </td>
            </tr>
    </table>
  </div>